@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Press Start 2P', monospace;
}

html, body, #root {
    height: 100%;
}


body, h2, p {
    margin: 0;
}

button {
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
    background: none;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white
}


.game-container {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game-tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game-board {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
}

.game-cell {
    height: 6px;
    width: 6px;
    background-color: white;
}

.game-cell.alive {
    background-color: black;
}