html, body, #root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
}

.game-row {
}

.game-cell {
    height: 6px;
    width: 6px;
    background-color: white;
}

.game-cell.alive {
    background-color: black;
}

.game-cell:hover {
    background-color: violet;
}